@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --darkMagenta: hsl(300, 43%, 22%);
    --softPink: hsl(333, 80%, 67%);
    --darkGrayishMagenta: hsl(303, 10%, 53%);
    --lightGrayishMagenta: hsl(300, 24%, 96%);
}

body{
    font-family: Spartan, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    position: relative;
}

body > img{
    position: absolute;
}

#container{
    padding: 0 1.45rem;
    padding-top: 4.73rem;
    min-height: 100%;
}

#bg-pattern-top-mobile{
    position: absolute;
    top: 0;
    left:0;
}

#bg-pattern-bottom-mobile{
    position: absolute;
    bottom:0;
    right: 0;
}

.desktop-img{
        display: none;
}

#about{
    margin-bottom: 2.86625rem;
}

#about h1{
    padding: 0 1.25rem;
    margin-bottom: 1.40125rem;
    text-align: center;
    font-weight:700;
    color: var(--darkMagenta);
}

#about p{
    text-align: center;
    padding: 0 0.4934375rem;
    color: var(--darkGrayishMagenta);
    line-height: 1.3;
}

#ratings{
    margin-bottom: 3.16375rem;
}

.rating-card{
    text-align: center;
    padding: 0.408125rem 0;
    font-weight: 500;
    color: var(--darkMagenta);
    margin-bottom: 6.53px;
    background-color: var(--lightGrayishMagenta);
    border-radius: 5px;
    width:100%;
}

.rating-stars{
    margin-bottom: 0.408125rem;
}

.review-card{
    padding: 2.79rem 2.07rem;
    background: var(--darkMagenta);
    margin-bottom: 1.04125rem;
    color: white;
    border-radius: 5px;
}

.review-card img{
    width: 46px;
    border-radius: 50%;
}

.profile-info{
    display: flex;
    align-items: center;
    margin-bottom: 1.84rem;
}

.info{
    margin-left: 1.485rem;
}

.name{
    font-weight: 500;
}

.verified{
    color: var(--softPink);
}



@media screen and (min-width:768px){

    #container{
        padding:0 9.8rem;
        padding-top: 8.055rem;
        border: 1px solid red;
        margin-bottom: 3rem;
        display: grid;
        /*grid-template-columns: 70% auto;*/
        grid-template-areas: 
        'a b'
        'c c';
    }

    .mobile-img{
        display: none;
    }

    .desktop-img{
        display: block;
    }

    #bg-pattern-top-desktop{
        top:0;
        left:0;
    }

    #bg-pattern-bottom-desktop{
        bottom:0;
        right:0;
    }

    #about{
        width:540px;
        grid-area: a;
        padding-right: 8.055rem;
        border: 1px black solid;
    }

    #ratings{
        border: 1px black solid;
        grid-area: b
    }

    #reviews{
        grid-area: c;
        border: 1px solid green;
    }

    #about h1{
        text-align: left;
        width:354.96px;
        padding-left:0;
    }

    #about p{
        text-align: left;
        padding:0;
        width: 110%;
    }

    .review-card{
        display: inline-block;
    }

    .rewview-card:last-child{
        color: green;
    }

}